
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%= url %>/assets/images/EmsNode.ico">

    <title>Login || Employee Management System</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= url %>/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="<%= url %>/assets/css/signin.css" rel="stylesheet">

    <script src="<%= url %>/assets/js/jquery-1.9.1.min.js"></script>

  </head>

  <body>

    <div class="container">

      <% if( success == 0 ){ %>  
      <form class="form-signin" method="post" action="<%= url %>/login/userLogin">

        <div>
          <img src="<%= url %>/assets/images/EmsNode.png" height="150" width="300">
        </div>

        <h2 class="form-signin-heading">Please sign in</h2>
          <div class="form-group">
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control input-group" placeholder="Username" autofocus>
            <span class="error username-msg"></span>
          </div>

          <div class="form-group">
           <label for="inputPassword" class="sr-only">Password</label>
           <input type="password" id="password" name="password" class="form-control input-group" placeholder="Password">
            <span class="error password-msg"></span>
          </div>

        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
         -->

       <% if( errors ){ %>  

       <div  class="checkbox">
          <%= errors %>
       </div>

       <% } %>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <% }else{ %>
          <h2 class="form-signin-heading">Congratulation, you have registered successfully</h2>
      <% } %>

    </div> <!-- /container -->

     <script type="text/javascript">
      $( document ).ready(function() {
            
        $('.form-signin').submit(function(){

            $('.username-msg').text('');
            $('.password-msg').text('');

            if( $('#username').val() == '' ){
               $('.username-msg').text('Please enter your username*');
               return false;
            }

            if( $('#password').val() == '' ){
               $('.password-msg').text('Please enter your password*');
               return false;
            }

            return true;
        });
      
      });

     </script>

  </body>
</html>
